<div class="card">
  <div class="card-body">
    <h1 class="card-title">Welcome to the Fermonitor</h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Monitor your homebrew in realtime!</h2>
    <div class="card-text">
      Behind this application, we have provided an API that receives data from a TiltHydrometer and then controls a generic
      power strip (via GPIO). This power strip can power a fridge and a heater, for example, which allows you to
      tightly control, monitor, and record your fermentation.
    </div>
  </div>
</div>
