<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/home" class="navbar-brand">Name or Logo</a>

  <button class="navbar-toggler" type="button" (click)="toggleNavHamburgerDropdown()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{show: hamburgerDropdownOpen}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="/demos" class="nav-link">Demos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link">Contact</a>
      </li>
      <li class="nav-item" *ngIf="currentUser">
        <a routerLink="/admin-panel" class="nav-link">Admin</a>
      </li>
    </ul>
    <span>
      <ul class="navbar-nav mr-auto">
        <li *ngIf="!currentUser">
          <div class="btn-group">
            <button routerLink="/login" type="button" class="btn btn-primary">Login</button>
          </div>
        </li>
        <li *ngIf="currentUser">
          <div class="btn-group" appDropdown>
            <button
              type="button"
              class="btn btn-primary dropdown-toggle">
              User <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><a class="nav-link" routerLink="/profile">Profile</a></li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item"><a class="nav-link" routerLink="/home" (click)="onLogout()">Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </span>
  </div>
</nav>
