<div class="row">
  <div class="col">
    <h2>Create New User (example)</h2>
    <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()" novalidate>

      <!--User Data-->
      <div class="row" formGroupName="userData">

        <div class="col-6 form-group">
          <label for="firstNameInput">First</label>
          <input
            id="firstNameInput"
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': createUserForm.get('userData.firstName').touched && createUserForm.get('userData.firstName').invalid}"
            formControlName="firstName"
            placeholder="John"
          >
          <span
            class="invalid-feedback"
            *ngIf="createUserForm.get('userData.firstName').touched && createUserForm.get('userData.firstName').invalid">
        First name is required
      </span>
        </div>

        <div class="col-6 form-group">
          <label for="lastNameInput">Last</label>
          <input
            id="lastNameInput"
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': createUserForm.get('userData.lastName').touched && createUserForm.get('userData.lastName').invalid}"
            formControlName="lastName"
            placeholder="Doe"
          >
          <span class="invalid-feedback"
                *ngIf="createUserForm.get('userData.lastName').touched && createUserForm.get('userData.lastName').invalid">
        <span *ngIf="createUserForm.get('userData.lastName').errors['required']">Last name is required</span>
      </span>
        </div>

        <div class="col form-group">
          <label for="emailInput">Email</label>
          <input
            id="emailInput"
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': createUserForm.get('userData.email').touched && createUserForm.get('userData.email').invalid}"
            formControlName="email"
            placeholder="email@provider.com"
          >
          <span class="invalid-feedback"
                *ngIf="createUserForm.get('userData.email').touched && createUserForm.get('userData.email').invalid">
        <span *ngIf="createUserForm.get('userData.email').errors['required']">Email is required</span>
        <span *ngIf="createUserForm.get('userData.email').errors['email']">Email must be valid</span>
      </span>
        </div>

      </div>

      <!--Salary/Position-->
      <div class="row">
        <div class="col form-group">
          <label for="salaryInput">Salary</label>
          <input
            id="salaryInput"
            type="number"
            class="form-control"
            formControlName="salary"
            placeholder="Optional"
          >
        </div>

        <div class="col form-group">
          <label for="positionInput">Position</label>
          <select id="positionInput"
                  class="form-control"
                  formControlName="position">
            <option value="null">Please Choose</option>
            <option>Software Engineer 1</option>
            <option>Software Engineer 2</option>
          </select>
        </div>
      </div>

      <!--Passwords-->
      <div class="row" formGroupName="passwords">
        <div class="col form-group">
          <label for="newPassword">Password</label>
          <input
            id="newPassword"
            type="password"
            class="form-control"
            [ngClass]="{'is-invalid': createUserForm.get('passwords.newPassword').touched && createUserForm.get('passwords.newPassword').invalid,
                    'is-valid': createUserForm.get('passwords').valid}"
            formControlName="newPassword"
          >
          <span class="invalid-feedback">Password is required</span>
          <span class="valid-feedback">Passwords match!</span>
        </div>

        <div class="col form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            class="form-control"
            [ngClass]="{'is-invalid': createUserForm.get('passwords.confirmPassword').touched && createUserForm.get('passwords').invalid,
                    'is-valid': createUserForm.get('passwords').valid}"
            formControlName="confirmPassword"
          >
          <span class="invalid-feedback">
        <span *ngIf="createUserForm.get('passwords').errors">
          <span *ngIf="createUserForm.get('passwords').errors['matchPassword']">Passwords do not match</span>
        </span>
      </span>
          <span class="valid-feedback">Passwords match!</span>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col">
          <button class="btn btn-primary" [disabled]="createUserForm.invalid" type="submit">Submit</button>
        </div>
        <div class="col text-right">
          <button class="btn btn-primary" type="reset" (click)="onReset()" [disabled]="createUserForm.untouched">Reset</button>
        </div>
      </div>

    </form>
  </div>
</div>

<div *ngIf="showResults">
  <hr>

  <div class="row">
    <div class="col">
      <h2>Results</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      Name: {{ createUserForm.get('userData.firstName').value }} {{ createUserForm.get('userData.lastName').value }}
    </div>
    <div class="col-12">
      Email: {{ createUserForm.get('userData.email').value }}
    </div>
    <div class="col-6">
      Position: {{ createUserForm.get('position').value }}
    </div>
    <div class="col-6">
      Salary: {{ createUserForm.get('salary').value }}
    </div>
    <div class="col-12">
      Password: {{ createUserForm.get('passwords.newPassword').value }}
    </div>
  </div>
</div>
