<div class="container fixed-bottom">
  <div class="row">
    <div class="col">
      <div class="alert"
           [ngClass]="{
           'alert': true,
           'alert-primary':alert.type === 'primary',
           'alert-secondary':alert.type === 'secondary',
           'alert-success':alert.type === 'success',
           'alert-danger':alert.type === 'danger',
           'alert-warning':alert.type === 'warning',
           'alert-info':alert.type === 'info',
           'alert-light':alert.type === 'light',
           'alert-dark':alert.type === 'dark'
           }"
           *ngFor="let alert of this.alerts">
        {{alert.message}}
        <button type="button" class="close" (click)="onAlertDismiss(alert)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
