<hr>
<div class="row">
  <div class="col">
    <h3>User Profile for {{currentUser.firstName}} {{currentUser.lastName}}</h3>
  </div>
</div>

<form (ngSubmit)="onUserEditSubmit()" #userEditForm="ngForm">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="firstNameInput">First</label>
        <input
          type="text"
          id="firstNameInput"
          #firstName="ngModel"
          name="firstName"
          class="form-control"
          [ngClass]="{'is-invalid': !firstName.valid}"
          [ngModel]="currentUser.firstName"
          placeholder="First"
          required
        >
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="lastNameInput">Last</label>
        <input
          type="text"
          id="lastNameInput"
          #lastName="ngModel"
          name="lastName"
          class="form-control"
          [ngClass]="{'is-invalid': !lastName.valid}"
          [ngModel]="currentUser.lastName"
          placeholder="Last"
          required
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="emailAddressInput">Email</label>
        <input
          type="email"
          id="emailAddressInput"
          #emailAddress="ngModel"
          name="emailAddress"
          class="form-control"
          [ngClass]="{'is-invalid': !emailAddress.valid}"
          [ngModel]="currentUser.email"
          placeholder="Email"
          required
          email
        >
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!userEditForm.dirty">Save</button>
</form>

<hr>

<div class="row">
  <div class="col">
    <h3>Change Password</h3>
  </div>
</div>

<form (ngSubmit)="onPasswordChangeSubmit()" #passwordChangeForm="ngForm">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="password1Input">New Password</label>
        <input
          type="password"
          id="password1Input"
          #password1="ngModel"
          name="password1"
          class="form-control"
          [ngClass]="{'is-invalid': !password1.valid && password1.touched}"
          ngModel
          placeholder="Password"
          required
        >
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="password2Input">Confirm New Password</label>
        <input
          type="password"
          id="password2Input"
          #password2="ngModel"
          name="password2"
          class="form-control"
          [ngClass]="{'is-invalid': (password1.value !== password2.value || !password2.valid) && password2.touched}"
          ngModel
          placeholder="Confirm"
          required
        >
        <span class="invalid-feedback" [ngStyle]="{show: password1.value !== password2.value}">Passwords do not match</span>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!passwordChangeForm.valid">Change Password</button>
</form>
<hr>
